
body {
    background-color: whitesmoke;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(218, 236, 236);
    padding: 40px 0;
    margin: 0px 0;
    font-size: 40px;
}

.menu {
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
    background-color: rgb(195, 221, 221);
    display: flex;
    justify-content: center;
    
}

.menu li {
    padding: 14px 20px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Trebuchet MS', sans-serif;
}

.menu a:hover {
    color: gray;
}

.quotes-container {
    padding: 0px 0;
    margin: 350px;
    margin-top: 20px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 8px;
}

main {
    padding-top: 150px;
}

section {
    padding-top: 50px;
}

.buttons {
    text-align: center;
    margin-top: 5px 0;
    padding-top: 5px 0;
  }


.b-wrapper {
    display: inline-block;
    text-align: center;
    margin: 0 14px;
}

.b-wrapper p {
    margin: 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

#clickbutton {
    padding-top: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 0;
}

.button img {
    transition: filter 0.2s ease, transform 0.2s ease
}

.button:hover img{
    filter: brightness(1.2);
}
.button:active img {
    transform: scale(1.1);
}

#about {
    background-color:  rgb(195, 221, 221);
    margin: 20px;
    padding: 15px;
}

html {
    overflow-y: scroll;
}

#about-text {
  text-align: center;
  padding: 10px;
  padding-bottom: 100px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(195, 221, 221);
    font-family: 'Trebuchet MS', sans-serif;
}

.quotes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.category a {
    background-color: rgb(195, 221, 221);
    color: rgb(103, 133, 138);
    padding: 3px 6px;
    margin-top: 3px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background-color 0.2s
}

.category a:hover {
    background-color:  #e3ecec;;
}

#quote-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px; /* espaço entre as imagens */
  margin-top: 20px;
  margin-bottom: 50px;
}

.quote-img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 50px;
}

.wq h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wq ul {
    font-size: 30;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wq {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding:  20px ;
    padding-bottom: 200px;
    align-items: flex-start;
}

section {
  flex: 1; /* Para que cada bloco tenha largura igual */
  /*border: 1px solid #ccc;*/
  padding: 10px;
  border-radius: 10px;
}


.section-m {
   margin-left: 20px;
   padding-top: 10px;
   border-color: #99b8e0;
}

.section-l {
   margin-left: 50px;
   border-color:#ff8f92;
}

.section-sh {
   margin-left: 50px;
   margin-right: 20px; 
   padding-bottom: 10px;
   border-color:#72c69e
}

.section-m h3{
    background-color: #99b8e0;
    display: block;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px; 
}

.section-l h3{
    background-color: #ff8f92;
    display: block;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px; 
}

.section-sh h3{
    background-color: #72c69e;
    display: block;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px; 
}

section li {
  margin-bottom: 8px;
  line-height: 1.5; /* opcional: melhora a leitura */
}


